:root {
    --body-bg-color: #22212C;
    --text-color: white;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #22212C;
}



